.App {
  text-align: center;
}

.pairs-header {
  display: grid;
  grid-template-columns: repeat(auto-fill, 75px);
  grid-auto-rows: minmax(50px, 1fr);
}

.pairs-row {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(auto-fill, 75px);
  grid-template-rows: minmax(50px, 1fr);
}

.anchor {
  grid-column: 1/2;
}

.header {
  grid-column: span 1;
}

.cell {
  border: solid black 1px;
}

.active-student {
  background-color: aquamarine;
  width: 100%;
}

.same-student {
  background-color: black;
}