.App {
  text-align: center;
  background-color: seagreen;
  display: grid;
  grid-template-columns: 75% 25%;
  height: 100vh;
}

section.pairs-container {
  background-color: blueviolet;
}

/* .pairs-header {
  display: grid;
  grid-template-columns: repeat(auto-fill, 75px);
  grid-auto-rows: minmax(50px, 1fr);
} */

section.pairs-cells {
  overflow: auto;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(auto-fill, 75px);

  /* grid-template-rows: minmax(50px, 1fr); */
}

.anchorX {
  grid-column: 1/2;
}

.header {
  grid-column: span 1;
}

.cell {
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.active-student {
  background-color: aquamarine;
  width: 100%;
}

.same-student {
  background-color: black;
}