.App {
  text-align: center;
}

.pairs-header {
  display: grid;
  grid-template-columns: repeat(auto-fill, 75px);
  grid-auto-rows: minmax(50px, 1fr);
}

.pairs-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 75px);
}

.anchor {
  grid-column: 1/2;
}

.active-student {
  background-color: aquamarine;
}

.same-student {
  background-color: black;
}