$bg-color: hsla(100, 100, 100, .5);
$bd-radius: 5px;
$padding: 5px;

@mixin defaults {
  background-color: $bg-color;
  border-radius: $bd-radius;
  padding: $padding;
  border: none;
}

@mixin center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


input {
  @include defaults;
  border-radius: 20px;
  padding: 10px;
  // margin: 0 10px;
  font-size: 1em;
  // font-weight: bold;
  color: white;

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  &[type='button'] {
    font-weight: bold;
  }
}

select, textarea {
  @include defaults;
}

form {
  &.login {
    @include center-column;
  }

  &.login div {
    display: grid;
    margin: 10px;
  }

  &.cohort {
    div {
      margin: 10px 10px 0 10px;

      &.students {
        display: flex;
        align-items: center;
      }
    }

    section {
      width: 25%;
    }

    .form-section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        align-self: end;
      }
    }
  }
  
}

.cohort-form-container {
  min-height: 100vh;
}