@import 'constants';

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  text-align: start;
  overflow: auto;

  input {
    margin: 10px 0;
    
    &.stdnt {
      border-radius: 5px;
      padding: 3px;
      margin: 5px;
    }

    &.selected {
      background-color: rgb(48, 48, 48);
    }
    
    &[type='button']:hover, &[type='submit']:hover {
      background-color: rgba(92, 92, 92, 0.616);
    }

    &[type='date'] {
      font-weight: bold;
      margin: 5px 0 0 0;
    }
  }

  .stdnt-clear {
    cursor: pointer;
    font-size: 1.5em;

    &:hover {
      color: $base-light;
    }
  }

  svg {
    margin: 0 5px 0 0;

    &.new-activity-icon {
      margin: 0 0 0 5px;
    }
  }

  h3, h4 {
    margin: 0 0 15px;
  }
}

.activity-form {
  
  div {
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;
    grid-gap: 5px;
  }
  
  input {
    
    margin-right: 5px;
    font-size: .75em;
  }
}

.search-container {
  margin: 10px 0;
  display: flex;
  align-items: center;
  align-self: center;

  p {
    display: block;
  }
}

.group-container {
  margin: 10px 0;

  .group {
    display: grid;
    grid-template-columns: 80% auto auto;
    position: relative;
    cursor: pointer;
  }
  
  p {
    margin: 0;
    font-style: italic;

    &.group-students {
      font-size: .75em;
      color: $base-light;
    }
  }

}

.color-selector {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hr-line {
  border-bottom: solid 1px $base-dark;
  margin: 15px 0;
}

.wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.vr-line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ccc;
    z-index: 1;
}

.wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -10px;
    z-index: 2;
}

.word {
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px;
    font: bold 12px arial,sans-serif;
    background: $accent1;
}

.group-details {
  background-color: $neutral;
  width: 50%;

  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}

.create-activity {
  padding: 10px;
  background-color: $base-light;
  width: 50%;

  @media only screen and (max-width: 600px) {
    width: 80%;
  }

}

.highlight {
  font-weight: bold;
  text-decoration: underline;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%;

  input {
    width: 85%;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    width: 90%;
    /*position the autocomplete items to be the same width as the container:*/
    top: 90%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
}

h3.header {
  text-align: center;
  font-weight: 600;
}

h4.subheader {
  margin: 0;
  font-weight: 500;
}

.student-selection-label {
  display: block;
}

.group-form-section {
  margin-top: 15px;
}

.group-form-sub-section {
  display: flex;
  align-items: center;

  .group-notes {
    width: 80%;

    &::placeholder {
      font-style: italic;
    }
  }
  
  label {
    font-size: 14px;
  }
}

// .header, .main-header {
//   font-family: 'Comfortaa', cursive;
// }
